<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-shield"></i>
            <span class="title">Təhlükəsizlik</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/security/user/index" class="nav-link ">
                    <i class="fa fa-users"></i>
                    <span class="title">İstifadəçilər</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/security/role/index" class="nav-link ">
                    <i class="fa fa-crosshairs"></i>
                    <span class="title">Rollar</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/security/right/index" class="nav-link ">
                    <i class="fa fa-ioxhost"></i>
                    <span class="title">Səlahiyyətlər</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <i class="fa fa-tasks"></i>
                    <span class="title">Audit jurnalı</span>
                </a>
            </li>
        </ul>
    </li>
</ul>