<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <!--=========================Oracle=======================================-->
  
  <!--
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">    
      <session-factory>
        <property name="dialect">
          NHibernate.Dialect.Oracle10gDialect
        </property>
        <property name="connection.provider">
          NHibernate.Connection.DriverConnectionProvider
        </property>
        <property name="connection.driver_class">
          NHibernate.Driver.OracleClientDriver
        </property>
        <property name="connection.connection_string">
          Data Source=orcl_30;User ID=bc_infra;Password=test;
        </property>
      </session-factory>
   </hibernate-configuration>
   -->
  <!--=========================SqlServer=======================================-->

  <!--<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">
        NHibernateAlias.Dialect.MsSql2008Dialect
      </property>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernateAlias.Driver.Sql2008ClientDriver
      </property>
      <property name="connection.connection_string">
        Server=.;Database=BcInfra;Trusted_Connection=True;
      </property>
    </session-factory>
  </hibernate-configuration>-->


  <!--======================================================================-->

 
  <!--<session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">
        NHibernate.Dialect.Oracle10gDialect
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.OracleDataClientDriver
      </property>
      <property name="connection.connection_string">
        User Id=bc_infra;
        Password=test;
        Data Source=ORCL_30;
        Pooling=true;
        Enlist=false;
        Statement Cache Size=50;
        Min Pool Size=10;
        Incr Pool Size=5;
        Decr Pool Size=2;
      </property>
      <property name="show_sql">
        true
      </property>
       <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
       <mapping assembly="NhbHelper"/>

    </session-factory>-->  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>